<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
</head>
<body class="container">

<header>
    <% include ./header %>
</header>

<main>
    <h1>Unauthorized</h1>
    User not authorized
</main>

</body>
</html>
