<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
</head>
<body class="container">

<header>
    <% include ./header %>
</header>

<main>
    <h1>Login</h1>
    <form method="post" action="/login">
        <p>
            <label>Username:</label>
            <input type="text" name="username">
        </p>
        <p>
            <label>Password:</label>
            <input type="text" name="password">
        </p>
        <p>
            <input type="submit" value="Login">
        </p>
    </form>
</main>

</body>
</html>
